.details input {
  width: 17vw;
  height: 1.4vw;
}
#preasonid {
  width: 35vw;
  height: 12vh;
  font-family: sans-serif;
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.backgroundImg {
  width: 100%;
  height: 50vh;
  position: absolute;
  left: 12.5%;
  top: 100%;
  scale: 1.5;
  z-index: 1;
  filter: blur(100px);
  transform: scaleY(-1);
}
.foregroundImg {
  width: 100%;
  height: 50vh;
  position: relative;
  z-index: 2;
}
