.chatboxcontainer {
  opacity: 0.7;
  transition: all 0.5s;
}
.chatboxcontainer:hover {
  opacity: 1;
  transition: all 0.5s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .cam-frame::-webkit-scrollbar {
	display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .cam-frame { */
/* -ms-overflow-style: none; IE and Edge
	scrollbar-width: none; Firefox */
/* } */
