.refreshicon {
  position: relative;
  left: 100%;
  scale: 1.5;
  cursor: pointer;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotate(3deg);
}
